* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.red {
  color: red;
}
.green {
  color: green;
}

button {
  font-size: 1.25rem;
  padding: 0.5em;
  border-radius: 50%;
  border: none;
  text-align: center;
}
p {
  margin-top: 1.5em;
  text-align: left;
}
.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1.25em;
  background-color: antiquewhite;
  margin-top: 1em;
  max-width: 700px;
  border-radius: 15px;
}
.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
