.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0%;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(163, 163, 163, 0.39);
  will-change: opacity;
}
.modal {
  max-width: 375px;
  margin: 0 auto;
  position: relative;
  padding: 1.25em;
  border: solid 1px;
  border-radius: 15px;
  position: fixed;
  background-color: aliceblue;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}
.modal h1 {
  margin-top: 1.45em;
  text-align: center;
}
.modal p {
  margin-top: 0.5em;
  text-align: center;
  font-size: 1.1rem;
}
.modal-btn {
  background: transparent;
  /* border-radius: 50%; */
  /* border-width: 1px; */
  cursor: pointer;
  padding: 0 0.2em;
  font-size: 4rem;
  right: 0;
  top: 0;
  margin-right: 0.12em;
  margin-top: 5px;
  position: absolute;
  border-style: none;
}
